.component--XhZfw1xbDM {
    color: red;
}

.comnet--2twJVQuN6q {
    color: green;
}

.comnet--2twJVQuN6q.disabled--3Ra8i_HaW0{
    color: gray;
}

.comnet-main--3WYs9SJzr9{
    color: yellow;
}

.component__row--361CeqaZmV {
    font-size: 12px;
}